{% extends 'base.html.twig' %}

{% block links %}
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Marcas
        <small>Lista</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Marcas</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <table id="datatable" class="table table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email de contacto</th>
                <th>Tel&eacute;fono de contacto</th>
                <th>Dirección</th>
                <th>Fecha de creaci&oacute;n</th>
                <th>Fecha de actualizaci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td><a href="{{ path('brand_show', { 'id': brand.id }) }}">{{ brand.id }}</a></td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.contactemail }}</td>
                <td>{{ brand.contactphone }}</td>
                <td>{{ brand.contactaddress }}</td>
                <td>{% if brand.createdAt %}{{ brand.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if brand.updatedAt %}{{ brand.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div>
                        <a href="{{ path('brand_show', { 'id': brand.id }) }}"><i class="fa fa-eye"></i> Ver</a>
                    </div>
                    <div>
                        <a href="{{ path('brand_edit', { 'id': brand.id }) }}"><i class="fa fa-pencil"></i> Editar</a>
                    </div>
                    <div>
                        <a href="{{ path('brand_payment_index', { 'brand': brand.id }) }}"><i class="fa fa-credit-card"></i> Métodos de pago</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email de contacto</th>
                <th>Tel&eacute;fono de contacto</th>
                <th>Dirección</th>
                <th>Fecha de creaci&oacute;n</th>
                <th>Fecha de actualizaci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary btn-block" href="{{ path('brand_new') }}">Crear marca</a>
        </div>
    </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#datatable').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
    });
} );
</script>
{% endblock %}