{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Marcas
        <small>Detalle</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url('brand_index') }}">Marcas</a></li>
        <li class="active">Crear</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Marca</h3>
            </div>
            <div class="box-body">
                <div class="col-lg-3">
                    <b>Nombre</b>
                </div>
                <div class="col-lg-3">
                    {{ brand.name }}
                </div>
                <div class="col-lg-3">
                    <b>Email de contacto</b>
                </div>
                <div class="col-lg-3">
                    {{ brand.contactemail }}
                </div>
                <div class="col-lg-3">
                    <b>Teléfono de contacto</b>
                </div>
                <div class="col-lg-3">
                    {{ brand.contactphone }}
                </div>
                <div class="col-lg-3">
                    <b>Dirección de contacto</b>
                </div>
                <div class="col-lg-3">
                    {{ brand.contactaddress }}
                </div>
                <div class="col-lg-3">
                    <b>Fecha de creación</b>
                </div>
                <div class="col-lg-3">
                    {% if brand.createdAt %}{{ brand.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                </div>
                <div class="col-lg-3">
                    <b>Fecha de actualización</b>
                </div>
                <div class="col-lg-3">
                    {% if brand.updatedAt %}{{ brand.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="{{ path('brand_index') }}" class="btn btn-info btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="{{ path('brand_edit', { 'id': brand.id }) }}" class="btn btn-warning btn-block">Editar</a>
                    </div>
                    <div class="col-lg-4">
                        {{ form_start(delete_form) }}
                            <a href="" id="delete_btn" class="btn btn-danger btn-block">Eliminar</a>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
<script>
    $('#delete_btn').on('click', function(evt) {
        evt.preventDefault();
        if (confirm("Seguro que desea eliminar esta marca?"))
            $('form').submit();
        return;
    });
</script>
{% endblock %}
