{% extends 'base.html.twig' %}

{% block links %}
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Métodos de pago - {{ brand.name }}
        <small>Lista</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Métodos de pago</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <table id="datatable" class="table table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Método de pago</th>
                <th>Comisión</th>
                <th>Fecha de creaci&oacute;n</th>
                <th>Fecha de actualizaci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for brand_Payment in brand_Payments %}
            <tr>
                
                <td>{{ brand_Payment.brand.name }}</td>
                <td>{{ brand_Payment.paymentMethod.name }}</td>
                <td>{{ brand_Payment.commission }}</td>
                <td>{% if brand_Payment.createdAt %}{{ brand_Payment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if brand_Payment.updatedAt %}{{ brand_Payment.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div>
                        <a href="{{ path('brand_payment_edit', { 'brand': brand_Payment.brand.id, 'payment_method': brand_Payment.paymentMethod.id }) }}"><i class="fa fa-pencil"></i> Editar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Marca</th>
                <th>Método de pago</th>
                <th>Comisión</th>
                <th>Fecha de creaci&oacute;n</th>
                <th>Fecha de actualizaci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary btn-block" href="{{ path('brand_payment_new', { 'brand': brand.id }) }}">Asignar m&eacute;todo de pago</a>
        </div>
    </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#datatable').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
    });
} );
</script>
{% endblock %}