{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Metodos de pago - {{ brand.name }}
        <small>Crear</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url('brand_index') }}">Marcas</a></li>
        <li class="active">Métodos de pago</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
            {{ form_start(form) }}
                <div class="form-group">
                    <label class="control-label required" for="paymentbundle_brand_payment_idPayment">M&eacute;todo de pago</label>
                    <select id="paymentbundle_brand_payment_idPayment" name="paymentbundle_brand_payment[idPayment]" required="required" class="form-control">
                    {% for payment_method in payment_methods %}
                    <option value="{{ payment_method.id }}">{{ payment_method.name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label required" for="paymentbundle_brand_payment_commission">Comisi&oacute;n</label>
                    <input type="text" id="paymentbundle_brand_payment_commission" name="paymentbundle_brand_payment[commission]" required="required" class="form-control">
                </div>
                {{ form_widget(form._token) }}
                <input type="submit" class="btn btn-primary btn-block" value="Crear" />
            </form>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-12">
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                            {{ flashMessage }} 
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-primary btn-block" href="{{ path('brand_payment_index', { 'brand': brand.id }) }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
