{% extends 'base.html.twig' %}

{% block body %}
    <h1>Brand_payment</h1>

    <table>
        <tbody>
            <tr>
                <th>Marca</th>
                <td>{{ brand_Payment.brand.name }}</td>
            </tr>
            <tr>
                <th>Idpayment</th>
                <td>{{ brand_Payment.paymentMethod.name }}</td>
            </tr>
            <tr>
                <th>Commission</th>
                <td>{{ brand_Payment.commission }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if brand_Payment.createdAt %}{{ brand_Payment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if brand_Payment.updatedAt %}{{ brand_Payment.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('brand_payment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('brand_payment_edit', { 'id': brand_Payment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
