@import "../../node_modules/bootstrap/dist/css/_bootstrap.min.scss";
@import "../../node_modules/swiper/dist/css/_swiper.min.scss";
@import "../../node_modules/font-awesome/scss/_font-awesome.scss";
@import "_home.scss";
@font-face {
  font-family: 'Conv_TradeGothicLTStd-BdCn20Obl';
  src        : url('../fonts/TradeGothicLTStd-BdCn20Obl.eot');
  src        : url('../fonts/TradeGothicLTStd-BdCn20Obl.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicLTStd-BdCn20Obl.woff') format('woff'), url('../fonts/TradeGothicLTStd-BdCn20Obl.ttf') format('truetype'), url('../fonts/TradeGothicLTStd-BdCn20Obl.svg') format('svg');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'TradeGothicLT-CondEighteenObl';
  src        : url('../fonts/TradeGothicLT-CondEighteenObl.eot');
  src        : url('../fonts/TradeGothicLT-CondEighteenObl.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicLT-CondEighteenObl.woff') format('woff'), url('../fonts/TradeGothicLT-CondEighteenObl.ttf') format('truetype'), url('../fonts/TradeGothicLT-CondEighteenObl.svg') format('svg');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'TradeGothic-BoldCondTwenty';
  src        : url('../fonts/TradeGothic-BoldCondTwenty.eot');
  src        : url('../fonts/TradeGothic-BoldCondTwenty.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothic-BoldCondTwenty.woff') format('woff'), url('../fonts/TradeGothic-BoldCondTwenty.ttf') format('truetype'), url('../fonts/TradeGothic-BoldCondTwenty.svg') format('svg');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'gosubregular';
  src        : url('../fonts/gosub-webfont.eot');
  src        : url('../fonts/gosub-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gosub-webfont.woff') format('woff'), url('../fonts/gosub-webfont.ttf') format('truetype'), url('../fonts/gosub-webfont.svg#gosubregular') format('svg');
  font-weight: normal;
  font-style : normal;
}

$dorado: #ddbc76;
$blanco: #ffffff;
$redbtn: #910000;
$facebook: #1757a1;
$borderFacebook: #6395d1;
$border: #d90100;
$footer: #d60000;
$redavtivated: #d90000;
$bold: 'TradeGothic-BoldCondTwenty';

// breakPoint
$break-small: 320px;
$break-large: 768px;
$break-mlarge: 980px;
$break-xlarge: 1200px;

body {
  background            : url("../images/bg.jpg");
  font-family           : $bold;
  font-size             : 2rem;
  padding               : inherit;
  -webkit-font-smoothing: antialiased;
  @media screen and (max-width: $break-large) {
    font-size: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin : 0;
  padding: 0;
  color  : $blanco;
}

#home {
  .wrapper {
    width  : 100%;
    height : 100vh;
    display: table;

    .inner-content-center {
      display       : table-cell;
      vertical-align: middle;

      .titulo {
        .estrella {
          color: $blanco;
        }

        h1 {
          color      : $dorado;
          font-family: $bold;

          &:before {
            content   : "";
            width     : 50%;
            height    : 2px;
            background: $dorado;
            display   : block;
            margin    : 0 auto;
          }

          &:after {
            content   : "";
            width     : 50%;
            height    : 2px;
            background: $dorado;
            display   : block;
            margin    : 0 auto;
          }
        }

        h4 {
          color    : $blanco;
          padding  : 1rem 0;
          font-size: 3rem;
        }

      }

      p {
        color      : $blanco;
        line-height: 2.3rem;
        @media screen and (max-width: $break-large) {
          line-height: 1.5rem;
        }
      }

      .line {
        width     : 20%;
        height    : 1px;
        background: $blanco;
        display   : block;
        margin    : 5rem auto;
      }

      .btn-danger {
        color             : #fff;
        background-color  : $redbtn;
        border-color      : $border;
        max-width         : 60%;
        display           : block;
        border-radius     : 0;
        margin            : 0.5rem auto;

        border-radius     : 0;
        padding           : 0.5rem 0;
        font-size         : 2rem;
        transition        : all 0.5s ease-in-out;
        -o-transition     : all 0.5s ease-in-out;
        -moz-transition   : all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        @media screen and (max-width: $break-large) {
          max-width: 95%;
        }

        &:after {
          content       : "";
          display       : inline-block;
          width         : 0;
          vertical-align: middle;
          height        : 0;
          border-top    : 10px solid transparent;
          border-left   : 15px solid $dorado;
          border-bottom : 10px solid transparent;
          margin        : 0 1rem;
        }

      }

      .btn-success {
        color             : #fff;
        background-color  : $facebook;
        border-color      : $borderFacebook;
        max-width         : 60%;
        display           : block;
        border-radius     : 0;
        margin            : 2rem auto 0.5rem;

        border-radius     : 0;
        padding           : 0.5rem 0;
        font-size         : 2rem;
        transition        : all 0.5s ease-in-out;
        -o-transition     : all 0.5s ease-in-out;
        -moz-transition   : all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        @media screen and (max-width: $break-large) {
          max-width: 95%;
        }

      }
    }
  }

  .menu-content {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;

    nav.navbar-pilsen ul.menu li {
      display: inline-block;
      float  : left;
    }
  }

  .contador-preguntas {
    margin: 2rem 0 0;
  }

  .pregunta {
    margin: 5rem 0 0;
    @media screen and (max-width: $break-large) {
      margin: 1rem 0 0;
    }

    ul.respuestas {
      text-align     : left;
      font-size      : 1.8rem;
      list-style-type: none;
      margin         : 2rem 0;
      @media screen and (max-width: $break-large) {
        padding  : 0;
        font-size: 1.5rem;
      }

      li a {
        color             : $blanco;
        text-decoration   : none;
        font-family       : sans-serif;
        font-weight       : 500;
        color             : $dorado;
        transition        : all 0.5s ease-in-out;
        -o-transition     : all 0.5s ease-in-out;
        -moz-transition   : all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;

        &:before {
          content     : "\f005";
          display     : inline-block;
          font-family : 'FontAwesome';
          margin-right: 1rem;

        }

        &:hover {
          color             : $redavtivated !important;
          transition        : all 0.5s ease-in-out;
          -o-transition     : all 0.5s ease-in-out;
          -moz-transition   : all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;

        }
      }
    }

  }

  .bullets ul {
    padding: 0;
  }

  .bullets {
    ul li {
      display: inline-block;
      height : 8px;
      width  : 8px;
      margin : 0 2px;
      padding: 0;

      a {
        display      : inline-block;
        height       : 8px;
        width        : 8px;
        margin       : 0 2px;
        border-radius: 100%;
        background   : $blanco;
        position     : relative;
        padding      : 0;

        &:hover {
          background: $dorado;

          &:after {
            content      : "";
            background   : $dorado;
            width        : 11px;
            height       : 11px;
            border-radius: 100%;
            top          : -2px;
            left         : -2px;
            border       : 2px solid #750101;
            position     : absolute;
            z-index      : 10;
          }

          &:before {
            content      : "";
            position     : absolute;
            width        : 13px;
            height       : 13px;
            background   : $dorado;
            top          : -3px;
            left         : -3px;
            border-radius: 100%;
          }

        }
      }
    }

  }

  .active-bullet {
    &:after {
      content      : "";
      background   : $dorado;
      width        : 11px;
      height       : 11px;
      border-radius: 100%;
      top          : -2px;
      left         : -2px;
      border       : 2px solid #750101;
      position     : absolute;
      z-index      : 10;
    }

    &:before {
      content      : "";
      position     : absolute;
      width        : 13px;
      height       : 13px;
      background   : $dorado;
      top          : -3px;
      left         : -3px;
      border-radius: 100%;
    }
  }

  .footer {
    width     : 100%;
    height    : 30px;
    background: $footer;
  }

  h3 {
    color: $dorado;
    @media screen and (max-width: $break-large) {
      font-size: 2rem;
    }
  }

  .active {
    color: $redavtivated !important;
  }

  .content-conect {
    .pic {
      width        : 130px;
      height       : 130px;
      overflow     : hidden;
      border-radius: 100%;
      border       : 2px solid #fff;
      margin       : 3rem auto 0;
      @media screen and (max-width: $break-large) {
        width : 100px;
        height: 100px;
        margin: 2rem auto 0;
      }

      img {
        width: 100%;
      }

    }

    h3 {
      color : $blanco;
      margin: 1rem 0 2rem;
    }
  }
}
@media screen and (max-width: $break-large) {
  .container {
    padding-bottom: 3rem;
  }

  .col-md-8 {
    padding: 0;
  }
}
