<ul class="sidebar-menu">
    <li class="treeview">
        <a href="#">
        <i class="fa fa-industry"></i> <span>Marcas</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
        <li><a href="{{ path('brand_index') }}"><i class="fa fa-circle-o"></i> Ver marcas</a></li>
        <li><a href="{{ path('brand_new') }}"><i class="fa fa-circle-o"></i> Crear marca</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
        <i class="fa fa-credit-card"></i> <span>Métodos de pago</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
        <li><a href="{{ path('payment_method_index') }}"><i class="fa fa-circle-o"></i> Ver métodos</a></li>
        <li><a href="{{ path('payment_method_new') }}"><i class="fa fa-circle-o"></i> Crear método</a></li>
        </ul>
    </li>
</ul>